<template>
    <ol>
        <li v-for="(item, index) in items" :key="index">
            {{ item }}
        </li>
    </ol>
</template>

<script>
export default {
  name: 'Wishlist',
    props: {
        items: Array
    }
}
</script>
