<template>
  <div class="hello">
    <h1>Wish list</h1>
    <input type="text" v-model="inputValue"/>
    <button v-on:click="onClick()">Add to list</button>
    <Wishlist :items="items"/>
  </div>
</template>

<script>
import Wishlist from './Wishlist.vue'
import {wishListInputFieldIsValid} from '../utils/wishlistInputValidator'

export default {
  name: 'WishlistWidget',
  data : function (){
    return {
     items:[],
     inputValue:'' 
    }
  },
  methods : {
      onClick() {
        this.addToList(this.inputValue)
        this.clearInput()
      },
      addToList(newValue){
        if (wishListInputFieldIsValid(newValue)) {
            this.items.push(newValue)
        }
      },
      clearInput() {
        this.inputValue = ''
      }
  },
  components: {
    Wishlist
  }

}
</script>
